.product-list-section {
    margin-top: -100px;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin: 0 100px;
}

.list-title {
    text-align: center;
    font-size: 35px;
}

.page-action {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    > .btn {
        margin: 0 10px;
        padding: 10px 0;
        width: 120px;
        transition: all 0.2s;
        border-radius: 10px;
        background-color: var(--thin-pink);
        border: 2px solid var(--bold-pink);

        font-size: 18px;
        color: var(--bold-pink);
        font-weight: 500;
        
        &:not(:disabled):hover {
            background-color: var(--bold-pink);
            border: 2px solid var(--thin-pink);
            color: var(--thin-pink);
        }
    }
}